<!-- Creativity -->

<section data-sr id="creativity" class="creativity u-full-width featured-bg-image">
  <h4 class="centered">
    <button class="button inverted">Pure creativity</button>
  </h4>
</section>
{% schema %}
{
  "name": "Creativity",
  "class": "index-section",
  "settings": [],
  "presets": []
}
{% endschema %}
