<section data-sr class="footer u-full-width">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h5>&copy 2015 Tuts+ Web Design.</h5>
      </div>
    </div>
  </div>
</section>
