<!-- Hero -->

<section id="hero" class="hero u-full-width">
  <div class="hero-image"></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator">We've got talent</h1>
      <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.</h2>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hero",
  "class": "index-section",
  "settings": [],
  "presets": []
}
{% endschema %}
